<div class="h-screen bg-gradient-to-tr from-indigo-800 via-purple-800 to-primary">
	<div
		class="my-container mx-auto flex h-screen flex-col content-center items-center justify-center align-middle text-white"
	>
		<h1 class="py-4 text-center text-6xl font-bold text-white">
			Tenha Presença Online, Criamos Websites e Sistemas com alta perfomance
		</h1>
		<p class="my-container mx-auto mt-4 text-center">
			Somos uma empresa que visa a transformação e marketing digital, desde simples paginas a
			sistemas complexos como sistemas de vendas, crm, sistemas escolares e comercio electrónico,
			aumenta sua presença na internet e automatize o seu negocio
		</p>

		<a
			class="btn mt-4 rounded-lg border-primary bg-primary text-xl text-white hover:border-orange-500 hover:bg-orange-500"
			href="">Deixa-nos fazer acontecer</a
		>
	</div>
</div>

<style>
	.my-container {
		width: 960px;
	}
</style>
